html {
    min-height: 100%;
    overflow-y: scroll;
}    
body {
     min-height: 100%;
     margin: 0;
}


#main {
	display: grid;
	grid-template-rows: 1fr 500px 1fr;
	grid-template-columns: 1fr 550px 1fr;
	padding: 0;
	margin: 0;
}


#title {
	font-family: 'Press Start 2P', cursive;
	font-size: 54px;
	text-align: center;
}

#header {
	grid-column: 1 / span 3;
	grid-row: 1 / span 1;
	background-color: #7CFC00;
	line-height: 10px;
}

#left-sidebar {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	background-color: #7CFC00;
}

container {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	/*display: flex;*/
	text-align: center;
}
#sketch-div {
	display: inline-block;
	width: 100%;
}

#right-sidebar {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
	background-color: #7CFC00;
	text-align: center;
}

#footer {
	grid-column: 1 / span 3;
	grid-row: 3 / span 1;
	background-color: #7CFC00;
	text-align: center;
	padding-top: 30px;
}

#score {
	font-family: 'Press Start 2P', cursive;
	text-align: left;
}

#reset {
	display: inline-block;
	background-color: #7b38d8;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
